@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        color-scheme: light dark;
        text-size-adjust: none;
    }

    body {
        line-height: 1.4;
        min-height: 100vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    img,
    picture {
        block-size: auto;
        max-inline-size: 100%;
    }

    figure {
        inline-size: fit-content;
    }

    figcaption {
        contain: inline-size;
    }

    dt {
        font-weight: 700;
    }

    dd {
        margin: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        text-align: left;
    }

    abbr[title] {
        cursor: help;
        text-decoration: underline dotted;
        text-decoration-skip-ink: none;
    }
}
